[Unit]
Description=Registers FFS gadget descriptors (writes to ep0)
After=setup-gadget.service
Requires=setup-gadget.service
StartLimitIntervalSec=0
OnFailure=ffs_registrar-dump.service

[Service]
Type=simple
User=registrar
Group=registrar
Environment="DATA_STORE=/data/tezsign"
Environment="LOG_LEVEL=debug"
ExecStart=/usr/local/bin/ffs_registrar
RemainAfterExit=yes
Restart=always
RestartSec=1
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
