# --- Disable Networking Tools ---
CONFIG_PING=n
CONFIG_IP=n
CONFIG_IPADDR=n
CONFIG_IPLINK=n
CONFIG_IPROUTE=n
CONFIG_IPTUNNEL=n

# --- Disable System Logging ---
CONFIG_LOGGER=n
CONFIG_SYSLOGD=n
CONFIG_KLOGD=n

# --- Remove Monitoring Tools ---
CONFIG_TOP=n
CONFIG_FEATURE_TOP_CPU_USAGE_PERCENTAGE=n
CONFIG_FEATURE_TOP_SMP_CPU=n
CONFIG_FEATURE_TOP_DECIMALS=n
CONFIG_FEATURE_TOP_SMP_PROCESS=n
CONFIG_FEATURE_TOPMEM=n