# Radxa Zero 3W dev additions.
# DWC3 in Gadget/Peripheral mode for USB-C data port.
CONFIG_USB_DWC2=n
CONFIG_USB_DWC2_PERIPHERAL=n
CONFIG_USB_DWC3=y
CONFIG_USB_DWC3_HOST=n
CONFIG_USB_DWC3_DUAL_ROLE=n
CONFIG_USB_DWC3_GADGET=y

# Ensure the Rockchip USB PHYs are built-in
CONFIG_PHY_ROCKCHIP_INNO_USB2=y
CONFIG_PHY_ROCKCHIP_NANENG_COMBO_PHY=y