# Raspberry Pi Zero 2 W dev additions.
# OTG mode allows the single USB data port to be used either for gadget SSH
# or as a host port with an OTG adapter when local keyboard rescue is needed.
CONFIG_USB_DWC2_PERIPHERAL=n
CONFIG_USB_DWC2_DUAL_ROLE=y
