# ── USB gadget path ──────────────────────────────────────────────────────────
# Platform controller (DWC2 or DWC3) enabled by platform fragment.
CONFIG_USB=y
CONFIG_CONFIGFS_FS=y
CONFIG_USB_SUPPORT=y
CONFIG_USB_LIBCOMPOSITE=y
CONFIG_USB_GADGET=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_F_FS=y
CONFIG_USB_F_FS=y

# ── RT tuning ────────────────────────────────────────────────────────────────
CONFIG_EXPERT=y
CONFIG_PREEMPT_RT=y
CONFIG_HZ_250=n
CONFIG_HZ_1000=y
CONFIG_NO_HZ_IDLE=n
CONFIG_NO_HZ_FULL=y
CONFIG_RCU_NOCB_CPU=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=n
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y
CONFIG_ENERGY_MODEL=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_CPU_IDLE=n
