build/*
!build/.gitkeep
deploy
!deploy/.gitkeep
downloads
!downloads/.gitkeep
release
!release/.gitkeep

meta-raspberrypi
meta-openembedded
meta-mainline
poky

meta-tezsign/recipes-core/images/files/tezsign
meta-tezsign/recipes-core/tezsign-core/files/ffs_registrar
