# Radxa Zero 3 dev additions for local HDMI console and USB keyboard.
CONFIG_INPUT=y
CONFIG_INPUT_EVDEV=y
CONFIG_SERIO=y
CONFIG_VT=y
CONFIG_HID=y
CONFIG_HID_GENERIC=y
CONFIG_USB_HID=y

CONFIG_DRM=y
CONFIG_DRM_ROCKCHIP=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_ROCKCHIP_VOP2=y
CONFIG_ROCKCHIP_DW_HDMI=y
CONFIG_FB=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y
CONFIG_PHY_ROCKCHIP_INNO_HDMI=y
