# Raspberry Pi 4 specific production kernel skeleton.
CONFIG_BCM2711_THERMAL=y
CONFIG_BCM2835_THERMAL=n
CONFIG_PCIE_BRCMSTB=n
CONFIG_PCIEPORTBUS=n
CONFIG_USB_XHCI_HCD=n
CONFIG_USB_STORAGE=n
CONFIG_USB_UAS=n
CONFIG_SCSI=n
CONFIG_BLK_DEV_SD=n
