[Unit]
Description=Mount Tezsign app partition
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Mount]
What=/dev/disk/by-label/app
Where=/app
Type=ext4
Options=ro,exec,noatime,nofail,data=journal

[Install]
WantedBy=local-fs.target
