[Unit]
Description=Registers FFS gadget descriptors (writes to ep0)
After=setup-gadget.service
Requires=setup-gadget.service

[Service]
Type=simple
User=registrar
Group=registrar
Environment="LOG_LEVEL=debug"
ExecStart=/usr/bin/ffs_registrar
RemainAfterExit=yes
Restart=always
RestartSec=1
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=50
LimitRTPRIO=99
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
