[Unit]
Description=Registers FFS gadget descriptors (writes to ep0)
After=setup-gadget.service
Requires=setup-gadget.service

[Service]
Type=simple
User=registrar
Group=registrar
Environment="BROKER_LOG=warn"
ExecStart=/usr/bin/ffs_registrar
RemainAfterExit=yes
Restart=always
RestartSec=1
StandardOutput=null
StandardError=null
AllowedCPUs=1-3

[Install]
WantedBy=multi-user.target