[Unit]
Description=Generate Tezsign Hardware Serial ID
RequiresMountsFor=/app
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/generate-serial-number
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target