[Unit]
Description=Runs tezsign
After=attach-gadget.service
Requires=attach-gadget.service

[Service]
Type=simple
User=tezsign
Group=tezsign
Environment="DATA_STORE=/data/tezsign"
Environment="LOG_LEVEL=warn"
ExecStart=/app/tezsign
Restart=on-failure
RestartSec=2
StandardOutput=null
StandardError=null
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=50
LimitRTPRIO=99
LimitMEMLOCK=infinity
IOSchedulingClass=best-effort
IOSchedulingPriority=0

[Install]
WantedBy=multi-user.target
