[Unit]
Description=Runs tezsign
After=attach-gadget.service

[Service]
Type=simple
User=tezsign
Group=tezsign
Environment="DATA_STORE=/data/tezsign"
ExecStart=/app/tezsign
RemainAfterExit=yes
Restart=on-failure
RestartSec=2
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target